*{
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

/* ============ common part ==================*/
.back_to_top{
    position: fixed;
    right: 3%;
    bottom: 5%;
    text-align: center;
    line-height: 30px;
    background-color: rgb(83, 83, 219);
    height: 30px;
    width: 30px;
    z-index: 99;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.back_to_top i{
    color: white;
    font-size: 20px;
}
.main_menu{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
}
/* .menu_remove{
    background-color: rgb(166, 235, 28) !important;
} */

/* ========== === nav part satrt ============*/
.nav_logo{
    font-family: 'Philosopher', sans-serif;
    font-weight: 600;
    color: slategray !important;
}
.nav_logo span{
    color: blueviolet;
}
/* ========== === nav part end ============*/
/*============= banner part start ===============*/
#banner{
    padding-top: 100px;
    padding-bottom: 60px;
    background-color: whitesmoke;
    background: url(../images/banner2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: white;
    z-index: 1;
}
.banner_img{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}

#banner::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(31, 26, 26, 0.7);
    z-index: -1;
}
.banner_text h1 span{
    color: rgb(184, 240, 29);
}
.banner_text{
    font-family: 'Open Sans', sans-serif;
}
.banner_text h1{
    font-size: 47px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
}
.banner_text h6{
    font-size: 16px;
    font-weight: 400;
}
.banner_text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 25px;
    padding-right: 20px;
    font-weight: 600;
    color: #f1f1f1;
}
.banner_icons{
    padding-top: 50px;
}
.banner_icon1 h6{
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 15px;
}
.banner_icon1 i{
    height: 50px;
    width: 50px;
    background-color: slateblue;
    text-align: center;
    line-height: 50px;
    font-size: 25px;
    color: white;
    margin-right: 7px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.banner_icon1 i:hover{
    background-color: yellowgreen;
    
}
/*============= banner part end =================*/
/*============= about part start =================*/
#about{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f1f1f1;
    
}
.about_head{
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-bottom: 45px;
}
.about_head::after {
	position: absolute;
	content: '';
	top: 7px;
	left: 2px;
	height: 67px;
	width: 3px;
	background-color: black;
}
.about_head::before {
	position: absolute;
	content: '';
	top: 7px;
	left: 15px;
	height: 67px;
	width: 3px;
	background-color: red;
}
.about_head h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}
.about_head h1{
 font-size: 40px;
 font-family: 'Philosopher', sans-serif;
 color: #055353;
}
.about_img{
    text-align: end;
}
.about_img img{
    margin-right: 30px;
    width: 70%;
    height: 350px;
}
.about_text{
    padding-top: 30px;
    padding-left: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #055353;
}
.about_text h3{
    font-weight: 600;
    font-size: 33px;
    color: black;
}
.about_text h4{
    padding: 10px 0;
    font-weight: 400;
    font-size: 20px;
}
.about_text p{
    width: 460px;
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 40px;
    border-bottom: 1px solid #055353;
}
.about_cv{
  padding-top: 10px;
  display: inline-block;
  width: 49%;
 
}
.about_cv a:hover{
    color: blueviolet;
}
.about_cv a{
    font-size: 15px;
    color: #055353;
    font-weight: 600;
}
.about_cv a i{
    font-size: 16px;
    padding-right: 4px;
}
.about_icon{ 
    width: 50%;
    display: inline-block;
    text-align: end;
}
.about_down{
    width: 460px;
}
.about_icon a i{
    color: #055353;
    font-size: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.about_icon a i:hover{
    color: blueviolet;
}
/*============= about part end =================*/
 /*============= service part sart ===============*/
 #service{
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .service_head{
     text-transform: uppercase;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    margin-bottom: 45px;
}
.service_head::after {
	position: absolute;
	content: '';
	top: 7px;
	left: 2px;
	height: 67px;
	width: 3px;
	background-color: black;
}
.service_head::before {
	position: absolute;
	content: '';
	top: 7px;
	left: 15px;
	height: 67px;
	width: 3px;
	background-color: red;
}
.service_head h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}
.service_head h1{
 font-size: 40px;
 font-family: 'Philosopher', sans-serif;
 color: #055353;
}
.service_item{
    display: block;
    border: 3px solid #2c3535;
    text-align: center;
    padding: 40px 27px 30px 27px;
    width: 95%;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.service_item:hover{
    border: 3px solid rgb(219, 33, 33);
}
.service_item i{
    font-size: 65px;
    padding: 15px 0;
}
.service_item h3{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    padding: 15px 0;
}
.service_item p{
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 40px;
}
 /*============= service part end  ================*/

 /*============= skills part start  ================*/
 #skills{
     background-color: #f1f1f1;
     padding-top: 60px;
     padding-bottom: 40px;
 }
 .skills_head{
    text-transform: uppercase;
   padding-left: 40px;
   font-family: 'Open Sans', sans-serif;
   position: relative;
   margin-bottom: 45px;
}
.skills_head::after {
   position: absolute;
   content: '';
   top: 7px;
   left: 2px;
   height: 67px;
   width: 3px;
   background-color: black;
}
.skills_head::before {
   position: absolute;
   content: '';
   top: 7px;
   left: 15px;
   height: 67px;
   width: 3px;
   background-color: red;
}
 .skills_head h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}
.skills_head h1{
 font-size: 40px;
 font-family: 'Philosopher', sans-serif;
 color: #055353;
}

.skill_white2,
.skill_white3,
.skill_white4,
.skill_white{
    padding: 30px 0;
    background-color: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    color: #f1f1f1;
}
.skill_white::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 92%;
    background-color: #2c3535;
    z-index: -1;
}
.skill_white4::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 67%;
    background-color: #2c3535;
    z-index: -1;
}
.skill_white2::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 80%;
    background-color: #2c3535;
    z-index: -1;
}
.skill_white3::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 70%;
    background-color: #2c3535;
    z-index: -1;
}
.lng_basic{
    font-size: 21px;
    text-align: center;
    color: #2c3535;
    padding: 20px 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

 /*============= skills part end  ==================*/
 /*============= portfolio part start  ==================*/
 #portfolio{
     padding: 60px 0;
 }
 .portfolio_head{
    text-transform: uppercase;
   padding-left: 40px;
   font-family: 'Open Sans', sans-serif;
   position: relative;
   margin-bottom: 45px;
}
.portfolio_head::after {
    position: absolute;
    content: '';
    top: 7px;
    left: 2px;
    height: 67px;
    width: 3px;
    background-color: black;
 }
 .portfolio_head::before {
    position: absolute;
    content: '';
    top: 7px;
    left: 15px;
    height: 67px;
    width: 3px;
    background-color: red;
 }
 .portfolio_head h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}
.portfolio_head h1{
 font-size: 40px;
 font-family: 'Philosopher', sans-serif;
 color: #055353;
}
.portfolio_btn a{
    padding: 5px 15px;
    font-size: 17px;
    color: #2c3535;
    font-family: 'Open Sans', sans-serif;
    background-color: #e2c8c8;
}
.portfolio_img{
    margin-top: 50px;
}
.portfolio_img img{
    width: 100%;
}

 /*============= portfolio part end  ==================*/
 /*============= contact part start  ==================*/
 #contact{
     padding: 50px 0;
     background-color: #f1f1f1;
 }
 .contact_head{
    text-transform: uppercase;
   padding-left: 40px;
   font-family: 'Open Sans', sans-serif;
   position: relative;
   margin-bottom: 45px;
}
.contact_head::after {
    position: absolute;
    content: '';
    top: 7px;
    left: 2px;
    height: 67px;
    width: 3px;
    background-color: black;
 }
 .contact_head::before {
    position: absolute;
    content: '';
    top: 7px;
    left: 15px;
    height: 67px;
    width: 3px;
    background-color: red;
 }
 .contact_head h2{
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 5px;
    color: #000;
}
.contact_head h1{
 font-size: 40px;
 font-family: 'Philosopher', sans-serif;
 color: #055353;
}

.contact_auto{
    margin-left: 50px;
}
 .contact_location{
    font-family: 'Open Sans', sans-serif;
     width: 65%;
     padding-top: 25px;
     padding-bottom: 25px;
     border-bottom: 1px solid #2c3535;
 }
 .contact_location i{
    font-size: 26px;
    margin-left: 4px;
 }
 .contact_location h5{
     padding: 10px 0;
     font-size: 17px;
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;
 }
 .contact_mail{
     border-bottom: none;
 }
 .cnt_text{
     padding-top: 5px;
     padding-bottom: 8px;
     border-bottom: 1px solid #055353;
     width: 65%;
 }
 .cnt_text h5{
     font-size: 17px;
     font-weight: 600;
     font-family: 'Open Sans', sans-serif;
     color: #055353;
     padding-top: 3px;
 }
 .contact_form{
     margin-top: 20px;
 }
 .contact_name{
     margin: 20px 0;
     width: 300px;
     padding: 5px 10px;
}
 .contact_email{
     margin-bottom: 20px;
     width: 300px;
     padding: 5px 10px;
 }
 .contact_message{
     padding: 3px 10px;
     width: 300px;
 }
 .contact_btn{
     margin-top: 20px;
 }
 .contact_btn a{
     padding: 10px 20px;
     background-color: rgb(136, 182, 45);
     font-family: 'Open Sans', sans-serif;
     font-weight: 400;
     color: #fff;
     display: inline-block;
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
}
.contact_btn a:hover{
    background-color: rgb(142, 92, 189);
}
 /*============= contact part end  ==================*/
 .last_part{
     padding: 10px 0;
     text-align: center;
     background-color: #055353;
     color: #fff;
     font-family: 'Open Sans', sans-serif;
 }
 .last_part p{
     font-size: 14px;
 }